/* Fact Section */
.FunFact {
    padding: 80px 0;
    position: relative;
    background: #f9f7f7;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .FunFact {
        padding: 50px 0 40px;
    }
}

.IconLines {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 650px;
    height: 677px;
    background-image: url('/images/icon-lines.png');
}



.FunFact .FactCounter {
    padding: 0;
    position: relative;
}


.CounterBlock .Inner {
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    padding: 35px;
    /* margin: 0 auto 20px; */
}

@media (max-width:1250px) {
    .CounterBlock .Inner {
        margin: 0 auto 20px;
    }
}

@media (max-width:435px) {
    .CounterBlock .Inner {
        height: 170px;
        width: 170px;
        padding: 20px;
    }

    .CounterBlock .Inner .CountBox {
        font-size: 26px !important;
    }
}

@media (max-width:360px) {
    .CounterBlock .Inner {
        height: 150px;
        width: 150px;
        padding: 20px;
    }
}


@media (min-width: 992px) and (max-width:1400px) {
    .CounterBlock .Inner {
        height: 175px;
        width: 175px;
        margin: 0 auto 20px;
    }
}





.CounterBlock .Inner:hover:before {
    clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
}

.CounterBlock .Inner:hover:after {
    clip-path: polygon(25% -70%, 75% -70%, 120% 50%, 75% 170%, 25% 170%, -20% 50%);
}

.CounterBlock .Inner:hover .IconBox {
    -webkit-transform: scale(-1) rotate(180deg);
    transform: scale(-1) rotate(180deg);
}

.CounterBlock .Inner:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    content: "";
    border: 3px solid #C01F29;
    border-radius: 200px 200px 0 0;
    border-bottom: 0;
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
    clip-path: polygon(25% -70%, 75% -70%, 120% 50%, 75% 170%, 25% 170%, -20% 50%);
}

.CounterBlock .Inner:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
    border: 3px solid #C01F29;
    border-top: 0;
    content: "";
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
    border-radius: 0 0 200px 200px;
}

.CounterBlock .Inner .IconBox {
    margin-bottom: 15px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.CounterBlock .Inner .IconBox .icon {
    color: #111111;
    font-size: 54px;
    line-height: 1;
    margin-bottom: 0;
    margin-right: 0;
}

.CounterBlock .Inner .CountBox {
    font-size: 36px;
    font-weight: 600;
    color: #141E46;
}

.CounterBlock .Inner .CounterTitle {
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #111111;
    margin-bottom: 0;
}